$default-font-family: 'Barlow', sans-serif;
$display-font-family: 'Fraunces', serif;
$default-font-color: #808397;
$default-font-weight: 600;
$bold-font: 700;
$bolder-font: 900;
$default-font-size: 18px;
$default-line-height: rem-calc(-0.13px);
$background-color: #F2F2F2;
$graphic-design-text-color: hsl(167, 40%, 24%);
$photography-text-color: hsl(198, 62%, 26%);
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue:hsl(210, 4%, 67%);
$small-media: rem-calc(375px);
$medium-media: rem-calc(376px);
$large-media: rem-calc(1200px);
$rem-base: 18px;